body {
    margin: 0 auto;
    max-width: 600px;
}
input {
    margin: 5px;
}
button {
    margin: 15px 15px;
}
#poemOutput {
    background-color: beige;
    min-height: 200px;
    border: dashed;
    font-size: 2.3em;
    padding: 20px 0 20px 25px;
}