@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    margin: 0 auto;
    max-width: 600px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-family: "Open Sans", sans-serif;
}
h1 {
    font-family: "Rokkitt", serif;
    text-align: center;
    font-size: 2.5em;
}
h2 {
    padding-top: 20px;
}
p {
    /* text-align: justify; */
}
pre {
    background-color: lightyellow;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 20px;
}
code {
    /* background-color: black; */
    color: rgb(56, 255, 56);
}
ol {
    list-style-type: none;
}
ol li {
    padding: 1px 0;
    /* background-color: lightgray; */
}
ol a {
    display: block;
    text-decoration: none;
    background-color: aliceblue;
    padding: 15px 10px;
}
ol li a:hover {
    background-color: rgb(225, 206, 244);
    color: white;
}
ol a:visited {
    color:chocolate;
}
a:visited {
    color:darkcyan;
}

.l337_coder {
    background-color: black;
}
.emoji {
    font-size: 500%;
    text-align: center;
}
#spacer {
    min-height: 400px;
}