div {
    width: 250px;
    height: 100px;
    border: 5px solid #000;
    font-weight: 900;
    text-align: center;
    /* margin: 50px auto; */
}
div#d1 {
    background-color: lightcyan;
    padding: 10px;
    margin: 10px;
}
div#d2 {
    background-color: lightseagreen;
    padding-right: 100px;
    margin-left: 50px;
}
div#d3 {
    background-color: plum;
    margin-top: 17px;
    padding: 0 0 18px 0;
}
div#d4 {
    background-color: lightyellow;
    margin: 15px 50px;
    padding: 0 0 0 5px;
}
header {
    margin: 25px 0 0 0;
    text-align: center;
}