body {
    /* background-color: antiquewhite; */
}
div {
    width: 250px;
    height: 250px;
    border: 5px solid #000;
    font-weight: 900;
    text-align: center;
    margin: 20px;
    float: left;
}
div#d1 {
    background-color: lightcyan;
    /* float: left; */
}
div#d2 {
    background-color: lightseagreen;
    /* float: right; */
}
div#d3 {
    background-color: plum;
    /* float: left; */
}
div#d4 {
    background-color: lightyellow;
    /* float: right; */
}
header {
    text-align: center;
}