body {
    min-height: 2000px;
}
div {
    width: 100px;
    height: 100px;
    border: 5px solid #000;
    font-weight: 900;
    text-align: center;
    margin: 20px;

}
div#d1 {
    background-color: lightcyan;
    position: fixed;
    /* specify top, right, left, bottom */
    top: 100px;
    right: 100px;
    z-index: 10;
    
}
div#d2 {
    background-color: lightseagreen;
    position: absolute;
    top: 50%;
    left: 50%;

}
div#d3 {
    background-color: plum;
    position: sticky;
    top: 0;

 
}
div#d4 {
    background-color: lightyellow;
    position: relative;
    left: -25px;

 
}
header {
    text-align: center;
}